
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/config/jwt/
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/composer.lock
/symfony.lock

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
/public/photo/biography/
/public/photo/page/
/public/photo/poem/
/public/photo/poeticform/
/public/photo/proverb/
/public/photo/quote/
/public/photo/source/
/public/photo/store/
/public/photo/tag/
/public/photo/user/
/public/photo/version/
/public/photo/advertising/
npm-debug.log
yarn-error.log
composer.phar
###< symfony/webpack-encore-bundle ###
