<script type="text/javascript">
	function loadComments()
	{
		$.ajax(
		{
			type: "GET",
			url: "{{ path('app_comment_load', { id: id }) }}?page=1",
			cache: false,
			success: function(data)
			{
				$("#list_comments").html(data);
			}
		});
	}

	$(function()
	{	
		$(document).on("click", ".page_action", function()
		{
			$.ajax(
			{
				type: "GET",
				url: "{{ path('app_comment_load', { id: id }) }}?page=" + $(this).data("followpage"),
				cache: false,
				success: function(data)
				{
					$("#list_comments").html(data);
				}
			});

			event.preventDefault();
		});

		loadComments();
	});
</script>

<div class="hidden_print">
	<hr>
	<h2>{{ 'comment.index.Comments'|trans }}</h2>
	<div id="muse_comment">
		{% if is_granted('IS_AUTHENTICATED_FULLY') == false and is_granted('IS_AUTHENTICATED_REMEMBERED') == false %}
			<div class="alert alert-danger" role="alert">
				<i class="fas fa-exclamation-triangle"></i> {{ 'comment.field.YouMustBeLoggedInToWriteAComment'|trans }}
			</div>
		{% endif %}
		<div id="form_comment_container">
			{% include "Comment/form.html.twig" with {'form' : form} %}
		</div>
		<br>
		<div id="list_comments"></div>
	</div>
</div>