<ul>
	{% for entity in entities %}
		<li>
			<a href="{{ path('app_indexquotus_read', {'id' : entity.id, 'slug' : entity.slug}) }}" >{{ entity.text|striptags|raw }}</a>
			{% if entity.biography is not empty %}
				<br>
				<i class="fas fa-chevron-circle-right"></i> 
				<span class="font-weight-bold">{{ entity.biography.title }}</span>
			{% endif %}
		</li>
	{% endfor %}
</ul>