{% extends sub_domain()~'_layout.html.twig' %}

{% block head_title %}{{ 'forgottenPassword.confirmation.Title'|trans }}{% endblock %}
{% block main_title %}{{ 'forgottenPassword.confirmation.Title'|trans }}{% endblock %}

{% block main_content %}
	<p>{{ 'forgottenPassword.confirmation.EmailSent'|trans }} <b>Poeticus</b> !</p>
{% endblock %}